<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Process View</title>
        <script src="/scripts/plotly/plotly.min.js"></script>
        <script>
            if (!Object.hasOwn(window, 'pview')) {
                console.log("Creating a new pview namespace from index.html");
                window.pview = {
                    classes: {},
                    traces: {},
                    diagnostics: {},
                    datasets: []
                };
            }
        </script>
        <link rel="stylesheet" href="/scripts/jquery/jquery-ui.css">
        <script src="/scripts/jquery/jquery.js"></script>
        <script src="/scripts/jquery/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/style/pview.css">
        <script type="module" src="/scripts/utility.js"></script>
        <script type="module" src="/scripts/value.js"></script>
        <script type="module" src="/scripts/elements.js"></script>
        <script type="module" src="/scripts/client.js"></script>
        <script type="module" src="/scripts/responses.js"></script>
        <script type="module" src="/scripts/requests.js"></script>
        <script type="module" src="/scripts/messaging/base.js"></script>
        <script type="module" src="/scripts/messaging/error.js"></script>
        <script type="module" src="/scripts/messaging/response.js"></script>
        <script type="module" src="/scripts/views/popup.js"></script>
        <script type="module" src="/scripts/views/kill.js"></script>
        <script type="module" src="/scripts/views/error.js"></script>
        <script type="module" src="/scripts/views/process.js"></script>
        <script type="module" src="/scripts/pview.js"></script>
    </head>
    <body>
        <div id="on-screen">
            <div id="global-header" class="pview-header pview-global-header">
                <h1>Process View</h1>
            </div>
            <div id="global-toolbar" class="pview-toolbar pview-global-toolbar">
                <button id="resample-button" class="pview-button">Resample</button>
                <select class="pview-select" id="root-selector"></select>
                <span id="total-memory-used-indicator" class="pview-toolbar-text">Total Memory Used: <span id="total-memory-used"></span></span>
                <span id="total-cpu-used-indicator" class="pview-toolbar-text">CPU Usage: <span id="total-cpu-used"></span></span>
            </div>
            <div id="content" style="height:85vh; width:85vw;">
            </div>
        </div>
        <div id="popup-container" class="pview-popup-container"></div>
        <div id="loading-modal" class="pview-dialog pview-modal pview-loading-dialog" title="Loading">
            <p>
                Loading <code>ps</code> Data...
            </p>
            <div id="loading-progress-bar"></div>
            <button id="close-loading-modal-button">OK</button>
        </div>
    </body>
</html>